<div class="register-container">
  <h2>Логін</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control" />
      <div *ngIf="submitted && loginForm.controls['email'].errors" class="error-message">
        <span *ngIf="loginForm.controls['email'].errors['required']">Email є обов'язковим</span>
        <span *ngIf="loginForm.controls['email'].errors['email']">Email не є валідним</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" id="password" formControlName="password" class="form-control" />
      <div *ngIf="submitted && loginForm.controls['password'].errors" class="error-message">
        <span *ngIf="loginForm.controls['password'].errors['required']">Пароль не може бути порожнім</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Увійти</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>

  <!-- Додане посилання на сторінку реєстрації -->
  <div class="register-link">
    <p>Немає облікового запису? <a routerLink="/register">Зареєструватися</a></p>
  </div>
</div>