<h3>Flux моделі</h3>

<div class="actions-header">
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon> Додати Flux Model
    </button>
  </div>
  
<table mat-table [dataSource]="fluxModels" class="mat-elevation-z8 flux-model-table">
    <!-- Колонка ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let model"> {{ model.id }} </td>
    </ng-container>

    <!-- Колонка Назва -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Назва </th>
        <td mat-cell *matCellDef="let model">
            <ng-container *ngIf="editingFluxModelId === model.id; else viewName">
                <input matInput [(ngModel)]="tempName" placeholder="Введіть нове ім'я"
                    (click)="$event.stopPropagation()">
                <button mat-icon-button color="primary" (click)="saveName(model); $event.stopPropagation()">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="cancelEditing(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-container>
            <ng-template #viewName>
                <span (click)="onNameClick(model)" style="cursor: pointer;">{{ model.name }}</span>
            </ng-template>
        </td>
    </ng-container>

    <!-- Колонка Статус -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let model"> {{ model.status }} </td>
    </ng-container>

    <!-- Колонка Тренування -->
    <ng-container matColumnDef="trainings">
        <th mat-header-cell *matHeaderCellDef> Тренування </th>
        <td mat-cell *matCellDef="let model">
          <ng-container *ngIf="getTrainingInfo(model) as training; else noTraining">
            <div class="training-info">
              <div>
                <strong>ID:</strong> {{ training.id }}
                <button mat-icon-button color="warn"
                        (click)="deleteTraining(training.id); $event.stopPropagation()"
                        class="text-height-button">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div>
                <strong>ReplicateId:</strong> {{ training.replicateId }}
              </div>
              <div>
                <strong>Status:</strong> {{ training.status }}
                <button mat-raised-button color="primary"
                        (click)="getStatus(training.id); $event.stopPropagation()">
                  Статус
                </button>
              </div>
            </div>
          </ng-container>
          <ng-template #noTraining>
            <ng-container *ngIf="model.archiveUrl; else noTrainingText">
              <button mat-raised-button color="primary"
                      (click)="launchTraining(model.id); $event.stopPropagation()">
                Запустити тренування
              </button>
            </ng-container>
            <ng-template #noTrainingText>
              <span>Немає тренувань</span>
            </ng-template>
          </ng-template>
        </td>
      </ng-container>

    <!-- Нова колонка Фото -->
    <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Фото </th>
        <td mat-cell *matCellDef="let model">
            <ng-container *ngIf="model.archiveUrl; else noArchive">
                <a color="primary" class="photo-btn" [href]="model.archiveUrl" download>
                    Скачати архів
                </a>
               
            </ng-container>
            <ng-template #noArchive>
                <span>Немає архіву</span>
                
            </ng-template>
            <button mat-raised-button color="primary" class="photo-btn"
            (click)="openPhotoGallery(model.id); $event.stopPropagation()">
                Показати фото
            </button>
        </td>
    </ng-container>

    <!-- Колонка Створено -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Створено </th>
        <td mat-cell *matCellDef="let model"> {{ model.createdAt | date:'short' }} </td>
    </ng-container>

    <!-- Колонка Дій (для видалення flux моделі) -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Дії </th>
        <td mat-cell *matCellDef="let model">
            <button mat-icon-button color="warn" (click)="deleteFluxModel(model.id); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>