<mat-card class="forgot-password-card">
    <h2>Відновлення паролю</h2>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Введіть ваш email"
        />
        <mat-error *ngIf="submitted && forgotPasswordForm.controls['email'].errors">
          <span *ngIf="forgotPasswordForm.controls['email'].errors['required']">
            Email є обов'язковим
          </span>
          <span *ngIf="forgotPasswordForm.controls['email'].errors['email']">
            Email не є валідним
          </span>
        </mat-error>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Надіслати посилання</button>
      </div>
    </form>
  
    <mat-card-content>
      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </mat-card-content>
  </mat-card>