.master-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

mat-card {
  margin-bottom: 10px;
  position: relative;
}

.stages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stage-card {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stage-card.active {
  border: 2px solid #3f51b5;
  background-color: #f3f6fc;
}

.result {
  margin: 20px auto;
}


mat-icon {
  position: absolute;
  top : 10px;
  right : 10px;
}

.task-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.image-container {
  width: 200px;
  /* Розмір контейнера */
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.generated-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Масштабування зображення */
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Масштабування зображення */
    border-radius: 8px;
  }
}