bin/
obj/
.env
*.md
docs/
coverage/
.vs/
.vscode/
*.user
*.suo
tests/

# Frontend artifacts
src/Calendary.Ng/node_modules/
src/Calendary.Ng/dist/
src/Calendary.Ng/.angular/

# Uploads
src/Calendary.Api/wwwroot/uploads/
src/Calendary.Api/wwwroot/output/
