<div class="prompt-selection">
    <div *ngIf="job" class="job-details">
      <!-- Заголовок для прикладу -->
      <h3 class="example-title">Приклад</h3>
      <div *ngIf="job.tasks.length > 0; else noTasks" class="task-images">
        <div class="image-container" *ngFor="let task of job.tasks">
          <mat-card class="image-card">
            <img mat-card-image [src]="task.imageUrl" alt="Generated Image" class="large-image" />
          </mat-card>
        </div>
      </div>
  
      <!-- Якщо немає tasks -->
      <ng-template #noTasks>
        <p class="no-tasks-message">Немає завдань для цієї роботи.</p>
      </ng-template>
  
      <!-- Вибір теми -->
      <div class="theme-selection">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Обери тему для генерації зображень</mat-label>
          <mat-select [(value)]="selectedTheme">
            <mat-option *ngFor="let theme of promptThemes" [value]="theme">{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateJob()" [disabled]="!selectedTheme">
         Згенерувати
        </button>
      </div>
    </div>
  </div>