<div class="photos">
  <h2>Фотографії</h2>
</div>
<div class="upload-container">
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader" hidden />
 
  <input #fileInputMulti type="file" ng2FileSelect [uploader]="uploaderMulti" multiple hidden />
  
  <button class="upload-button" (click)="fileInputMulti.click()" [disabled]="images.length >= 12">
    Завантажити зображення
  </button>
</div>

<div class="image-gallery">
  <div *ngFor="let items of items; let i = index" class="image-item">
    <app-image-item 
      [number]="i" [month]="monthes[i]" [image]="getImage(i)"
      (delete)="deleteImage(i)"
      (upload)="onStartUpload($event)">
      >
    </app-image-item>
</div>
