<nav class="navbar">
  <div class="container">
    <!-- Logo on the left -->
    <div class="navbar-brand">
      <a href="/">
        <img [src]="'logo.png'" alt="Calendary" class="logo" />
      </a>
    </div>
    <!-- Icons aligned to the right -->
    <div class="navbar-icons" *ngIf="isInited">
      <button mat-icon-button [routerLink]="['/catalog']" aria-label="Каталог шаблонів">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button *ngIf="isLoggedIn" mat-stroked-button class="editor-link" [routerLink]="['/editor']" aria-label="Редактор">
        <mat-icon>brush</mat-icon>
        <span>Редактор</span>
      </button>
      <button *ngIf="isLoggedIn && cartCount && role === 'User'" mat-icon-button [routerLink]="['/cart']" aria-label="Кошик">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button *ngIf="isLoggedIn && role == 'User'" mat-icon-button [routerLink]="['/profile']" aria-label="Профіль">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button *ngIf="isLoggedIn && role == 'Admin'" mat-raised-button [routerLink]="['/admin']"  aria-label="Адмінка">
        Адмінка
      </button>
      <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()" aria-label="Вихід">
        <mat-icon>logout</mat-icon>
      </button>
      <button *ngIf="!isLoggedIn" mat-icon-button [routerLink]="['/login']" aria-label="Вхід">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </div>
</nav>
