/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
    font-family: Arial, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cdk-drag {
  background: #f9f9f9;
  border: 2px dashed #ccc;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
}



.cdk-drag-preview {
  background: #f9f9f9;
  border: 2px dashed #ccc;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
}