<div class="flux-model">
  <div *ngIf="categories" class="form-container">
    <!-- Вибір категорії -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Оберіть категорію</mat-label>
      <mat-select [(value)]="categoryId" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Кнопка створення -->
    <button 
      mat-raised-button 
      color="primary" 
      class="create-button" 
      (click)="createFluxModel()" 
      [disabled]="!categoryId">
      Створити
    </button>
  </div>
</div>