<div class="delivery">
    <h3>Доставка</h3>
    <form [formGroup]="deliveryForm">
      <div class="form-item">
        <label>Місто</label>
        <input type="text" formControlName="city" required>
        <div *ngIf="deliveryForm.controls['city'].invalid && deliveryForm.controls['city'].touched" class="error-message">Місто є обов'язковим</div>
      </div>
  
      <div class="form-item">
        <label>Відділення нової пошти</label>
        <input type="text" formControlName="postOffice" required>
        <div *ngIf="deliveryForm.controls['postOffice'].invalid && deliveryForm.controls['postOffice'].touched" class="error-message">Відділення є обов'язковим</div>
      </div>
  
      <div class="form-item">
        <label>Ім'я і прізвище</label>
        <input type="text" formControlName="name" required (blur)="updateInfo()">
        <div *ngIf="deliveryForm.controls['name'].invalid && deliveryForm.controls['name'].touched" class="error-message">Ім'я є обов'язковим</div>
      </div>
  
      <div class="form-item">
        <label>Email</label>
        <div class="input-btn">
          <input type="email" formControlName="email" required (blur)="validateEmail()" [disabled]="isEmailConfirmed">
          <button type="button" class="validate-button" (click)="showModalEmailCode()" [disabled]="!isEmailValid || isEmailConfirmed">Підтвердити</button>
        </div>
        <div *ngIf="deliveryForm.controls['email'].invalid && deliveryForm.controls['email'].touched" class="error-message">Email не коректний</div>
      </div>
  
      <div class="form-item">
        <label>Телефон</label>
        <div class="input-btn">
          <input type="tel" formControlName="phone" required (blur)="validatePhone()" [disabled]="isPhoneConfirmed">
          <button type="button" class="validate-button" (click)="showModalPhoneCode()" [disabled]="!isPhoneValid || isPhoneConfirmed">Підтвердити</button>
        </div>
        <div *ngIf="deliveryForm.controls['phone'].invalid && deliveryForm.controls['phone'].touched" class="error-message">Телефон введено не вірно</div>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>