.flux-model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* або будь-який бажаний розмір */
  background-color: #f5f8ff; /* фон, якщо потрібно */
  border-radius: 8px;
}