<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Інструкція до фотографій</h3>
      <div class="photo-grid">
        <div class="photo-item" *ngFor="let photo of photos" (click)="openFullImage(photo.filename)">
          <img [src]="'/images/' + photo.filename" [alt]="photo.description" />
          <p>{{ photo.description }}</p>
        </div>
      </div>
      <button (click)="closeModal()" class="close-button">Закрити</button>
    </div>
  </div>


<!-- Повнорозмірне зображення -->
<div class="fullscreen-overlay" *ngIf="fullImage" (click)="closeFullImage()">
    <img [src]="'/images/' + fullImage" alt="Повнорозмірне фото" class="fullscreen-image" />
  </div>