<div class="container">
  <div *ngIf="calendar">
    <app-calendar-images [calendarId]="calendar.id" (imagesFull)="onImagesFull($event)">
    </app-calendar-images>

    <app-event-dates></app-event-dates>
    <!-- <app-additional-settings [calendar]="calendar"
    (calendarUpdated)="onCalendarUpdated($event)"></app-additional-settings> -->

    <div class="button-container">
      <button class="btn-order" 
        [class.disabled]="!isValid" 
        [disabled]="!isValid"
        (click)="proceedToOrder()">
        Додати до замовлення
      </button>
    </div>
  </div>