.prompt-selection {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .job-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .task-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .image-container {
    width: 500px; /* Ширина контейнера для зображення */
    height: auto;
  }
  
  .image-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .large-image {
    width: 100%; /* Зображення займає всю ширину контейнера */
    height: auto; /* Пропорційна висота */
    border-radius: 8px; /* Згладження країв */
  }
  

/* Секція вибору теми */
.theme-selection {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.theme-selection label {
    font-size: 1rem;
    color: #555;
}

.theme-selection select {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.generate-button {
    padding: 8px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.generate-button:hover:not(:disabled) {
    background-color: #0056b3;
}



.message-button {
    padding: 8px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message-button:hover:not(:disabled) {
    background-color: #0056b3;
}
