* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 20pt;
  background-color: #2F9606;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background-color: #1E6404;
  }
}

section {
  &.background-white {
    background-color: #fff;
  }
  &.background-gray {
    background-color: #f5f5f5;
  }
  padding: 40px 20px;

  .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    ol {
      margin-left: 150px;
      width : 600px;
      li {
        text-align: left;
      }
    }
    p,
    li {
      font-size: 1.1rem;
      line-height: 1.6;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }

    blockquote {
      font-style: italic;
      margin: 10px 0;
    }
  }
}

.illustration {
  max-width: 40%;
  /* Зменшуємо ширину до 25% */
  height: auto;
  display: block;
  margin: 20px auto;
  /* Центруємо ілюстрацію */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;

  p {
    margin: 0;
  }
}