.test-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .test-image {
    max-width: 50%; /* Зменшуємо ширину зображення до 50% */
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }