<div class="upload-container">
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader" hidden />
</div>

<div class="image-gallery">
  <div *ngFor="let items of items; let i = index" class="image-item">
    <app-image-item 
      [number]="i" [month]="monthes[i]" [image]="getImage(i)"
      (delete)="deleteImage(i)">
    </app-image-item>
</div>

<button 
    class="generate-button"
    id="generatePdfBtn" 
    [disabled]="!canGeneratePdf()" 
    (click)="generatePdf()">
    Згенерувати PDF
</button>