.upload-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upload-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #45a049;
}


.generate-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #45a049;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}



/* Адаптивні стилі для мобільних пристроїв */
@media (max-width: 768px) {
  .image-item {
    flex: 1 1 calc(50% - 8px); /* 2 картки в ряд на мобільних */
}
  .generate-button {
      width: 100%; /* Кнопки займають всю ширину */
  }
}