.navbar {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 10px; 
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;

  a {
    img {
      width : 122px;
    }
  }
}

.navbar-end {
  display: flex;
  /* Додаємо flex для зручного вирівнювання елементів */
  gap: 10px;
  /* Відступ між кнопками */
  align-items: center;
  /* Вирівнюємо по центру вертикально */
}

.navbar-end button {
  margin-left: 10px; /* Додаємо відступи між кнопками */
}

.navbar-end button:first-child {
  margin-left: 0; /* Видаляємо відступ для першої кнопки */
}
