  <nav class="navbar">
    <div class="container">
      <!-- Logo on the left -->
      <div class="navbar-brand">
        <a href="/">
          <img [src]="'logo.png'" alt="Calendary" class="logo"  />
        </a>
      </div>
      <!-- Icons aligned to the right -->
      <div class="navbar-icons" *ngIf="isInited">
        <!-- Cart Icon -->
        <fa-icon *ngIf="isLoggedIn && cartCount" [icon]="cartIcon" class="icon" [routerLink]="['/cart']"></fa-icon>
  
        <!-- User Icon (for profile/settings) -->
        <fa-icon *ngIf="isLoggedIn" [icon]="userIcon" class="icon" [routerLink]="['/profile']"></fa-icon>
  
        <!-- Sign Out Icon (shown if logged in) -->
        <fa-icon *ngIf="isLoggedIn" [icon]="signOutIcon" class="icon" (click)="logout()"></fa-icon>
  
        <!-- Sign In Icon (shown if not logged in) -->
        <fa-icon *ngIf="!isLoggedIn" [icon]="signInIcon" class="icon" [routerLink]="['/login']"></fa-icon>
      </div>
    </div>
  </nav>