<div class="flux-model">
  <h2 class="title">Створення FluxModel</h2>

  <div *ngIf="!fluxModel && categories" class="form-container">
    <!-- Вибір статі -->
    <div class="age-gender-selection">
      <label for="category">Оберіть категорію:</label>
      <select id="category" [(ngModel)]="categoryId">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <!-- Кнопка створення -->
    <button 
      class="create-button" 
      (click)="createFluxModel()" 
      [disabled]="!categoryId">
      Створити
    </button>
  </div>
</div>