<div class="container">
  <div *ngIf="calendar">
    <form [formGroup]="calendarForm" (ngSubmit)="onSubmit()">
      
      <app-calendar-images [calendarId]="calendar.id" 
        (uploadCompleted)="onImageUpload($event)"
        (generatedCompleted)="onGeneratedCompleted($event)">
      </app-calendar-images>

      <app-event-dates></app-event-dates>
      <app-additional-calendar-settings></app-additional-calendar-settings>
      <div *ngIf="calendar.filePath">
        <div>
          <a [href]="calendar.filePath" download class="btn btn-secondary">Завантажити календар</a>
        </div>
      </div>
    </form>

  </div>