.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

.btn-order {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2f9606; /* Зелений фон для активної кнопки */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-order.disabled, .btn-order:disabled {
  background-color: #a9a9a9; /* Сірий фон для неактивної кнопки */
  cursor: not-allowed;
}

.btn-order:hover:not(.disabled):not(:disabled) {
  background-color: #278504; /* Темніший зелений при наведенні */
}


/* Адаптивні стилі для мобільних пристроїв */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .image-item {
    flex: 1 1 calc(100% - 10px);
    /* Виводимо по одному зображенню в ряд */
  }

  button {
    width: 100%;
    /* Кнопки займають всю ширину */
  }

  .btn-save,
  .btn-secondary {
    width: 100%;
    /* Збільшуємо розмір кнопок на мобільних */
  }

  .upload-container {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      font-size: 1rem;
    }

    select.form-control {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .image-gallery {
    flex-direction: column;
    /* Зображення йдуть вертикально */
  }

  .generate-button {
    width: 100%;
    /* Збільшуємо кнопку на всю ширину для зручності */
  }
}