.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

.btn-order {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2f9606; /* Зелений фон для активної кнопки */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-order.disabled, .btn-order:disabled {
  background-color: #a9a9a9; /* Сірий фон для неактивної кнопки */
  cursor: not-allowed;
}

.btn-order:hover:not(.disabled):not(:disabled) {
  background-color: #278504; /* Темніший зелений при наведенні */
}



@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  
  .image-gallery {
    flex-direction: column;
    /* Зображення йдуть вертикально */
  }

  .generate-button {
    width: 100%;
    /* Збільшуємо кнопку на всю ширину для зручності */
  }
}