<div class="master-container">
    <h1>Календар Мрій</h1>


    <div *ngIf="fluxModel" class="flux-model-card">
      <p>
        <strong>🆔 ID:</strong> <span>{{ fluxModel.id }}</span>
      </p>
      <p>
        <strong>📛 Назва:</strong> <span>{{ fluxModel.name }}</span>
      </p>
      <p>
        <strong>📋 Статус:</strong> <span>{{ fluxModel.status }}</span>
      </p>
      <p>
        <strong>🧑‍⚖️ Категорія:</strong> <span> {{ fluxModel.category.name}} </span>
      </p>
      <p *ngIf="fluxModel.archiveUrl">
        <strong>📦 Архів:</strong> 
        <a [href]="fluxModel.archiveUrl" target="_blank">Архів зображень</a>
      </p>
      <p *ngIf="fluxModel.version">
        <strong>🛠️ Version:</strong> <span>{{ fluxModel.version }}</span>
      </p>
      <button class="archive-btn" (click)="archiveFluxModel()">📂 Архівувати</button>
    </div>



     <!-- FluxModel Component -->
    <app-flux-model (onUpdate)="onUpdateFluxModel($event)" *ngIf="!fluxModel"></app-flux-model>
    
    <!-- Завантаження фото -->
    <app-photo-upload [fluxModel]="fluxModel" *ngIf="fluxModel && fluxModel.status === 'creating'"></app-photo-upload>
  
    <!-- Генерація -->
    <app-generation-status [fluxModel]="fluxModel" *ngIf="fluxModel && (fluxModel.status === 'Prepared' || fluxModel.status === 'Inprocess') "></app-generation-status>
  
    <!-- Результати генерації -->
    <app-generation-results [fluxModel]="fluxModel" (onUpdate)="onUpdateModelSelf()" *ngIf="fluxModel && fluxModel.status === 'succeeded'"></app-generation-results>
  
    <!-- Вибір теми промптів -->
    <app-prompt-selection [fluxModel]="fluxModel" (onUpdate)="onUpdateModelSelf()" (onUpdateTask)="onUpdateTask($event)" *ngIf="fluxModel && fluxModel.status === 'Completed'"></app-prompt-selection>
  
    <!-- Результати з тренувань -->
    <app-prompt-results [tasks]="tasks" *ngIf="fluxModel && fluxModel.status === 'Completed' && fluxModel.jobs.length > 1"></app-prompt-results>
  
    <!-- Місяці календаря -->
    <app-calendar-months></app-calendar-months>
  
    <!-- Важливі дати календаря -->
    <app-calendar-dates></app-calendar-dates>
  
    <!-- Кнопка додати до кошика -->
    <app-cart-button></app-cart-button>
  </div>