<div class="master-container">
  <h1>Календар Мрій</h1>
  <!-- Обрати категорію -->
  <mat-card class="stage-card" [class.active]="!fluxModel">
    <mat-card-title>Обрати категорію</mat-card-title>
    <mat-card-content>
      <app-flux-model *ngIf="!fluxModel" (onUpdate)="updateFluxModel($event)"></app-flux-model>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="fluxModel">
    <!-- Завантажити фото -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'uploading'">
      <mat-card-title>Завантажити фото</mat-card-title>
      <mat-card-content>
        <app-photo-upload *ngIf="fluxModel.status === 'uploading'" [fluxModel]="fluxModel"></app-photo-upload>
      </mat-card-content>
    </mat-card>

    <!-- Оплатити модель -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'pay_model'">
      <mat-card-title>Оплатити модель</mat-card-title>
      <mat-card-content>
        <app-payment *ngIf="fluxModel.status === 'pay_model'" [fluxModel]="fluxModel"></app-payment>
      </mat-card-content>
    </mat-card>

    <!-- Генерація моделі -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'prepare' || fluxModel.status === 'inprocess'">
      <mat-card-title>Генерація моделі</mat-card-title>
      <mat-card-content>
        <app-generation *ngIf="fluxModel.status === 'prepare' || fluxModel.status === 'inprocess'" [fluxModel]="fluxModel"></app-generation>
      </mat-card-content>
    </mat-card>

    <!-- Результати тренування -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'processed'">
      <mat-card-title>Результати</mat-card-title>
      <mat-card-content>
        <p *ngIf="fluxModel.status === 'processed'"> Готуємо приклади...</p>
      </mat-card-content>
    </mat-card>

    <!-- Обрати тему -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'exampled'">
      <mat-card-title>Обрати тему</mat-card-title>
      <mat-card-content>
        <app-prompt-selection *ngIf="fluxModel.status === 'exampled'" [fluxModel]="fluxModel"></app-prompt-selection>
      </mat-card-content>
    </mat-card>

    <!-- Генерація зображень -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'image_generating'">
      <mat-card-title>Генерація зображень</mat-card-title>
      <mat-card-content>
        <app-image-generation *ngIf="fluxModel.status === 'image_generating'" [fluxModel]="fluxModel" (onUpdate)="updateFluxModel($event)"></app-image-generation>
      </mat-card-content>
    </mat-card>

    <!-- Місяці календаря -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'ready_selected'">
      <mat-card-title>Місяці календаря</mat-card-title>
      <mat-card-content>
        <app-calendar-months *ngIf="fluxModel.status === 'ready_selected'" [fluxModel]="fluxModel" (onUpdate)="updateFluxModel($event)"></app-calendar-months>
      </mat-card-content>
    </mat-card>

    <!-- Важливі дати -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'dated'">
      <mat-card-title>Важливі дати</mat-card-title>
      <mat-card-content>
        <app-calendar-dates *ngIf="fluxModel.status === 'dated'" [fluxModel]="fluxModel"></app-calendar-dates>
      </mat-card-content>
    </mat-card>

    <!-- Календар готовий -->
    <mat-card class="stage-card" [class.active]="fluxModel.status === 'ready'">
      <mat-card-title>Календар готовий</mat-card-title>
      <mat-card-content>
        <app-calendar-ready *ngIf="fluxModel.status === 'ready'" [fluxModel]="fluxModel"></app-calendar-ready>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>