<div class="edit-prompt-container">
    <h2>{{ isEditMode ? 'Змінити промпт' : 'Створити промпт' }}</h2>
    <form [formGroup]="promptForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Тема</mat-label>
        <mat-select formControlName="themeId" required>
            <mat-option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</mat-option>
          </mat-select>
        <mat-error *ngIf="promptForm.get('themeId')?.hasError('required')">Тема є обов'язковою</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Категорія</mat-label>
        <mat-select formControlName="ageGender">
          <mat-option [value]="0">Чоловік</mat-option>
          <mat-option [value]="1">Жінка</mat-option>
          <mat-option [value]="2">Хлопчик (малюк)</mat-option>
          <mat-option [value]="3">Дівчинка (малюк)</mat-option>
          <mat-option [value]="4">Хлопчик</mat-option>
          <mat-option [value]="5">Дівчинка</mat-option>
          <mat-option [value]="6">Чоловік середнього віку</mat-option>
          <mat-option [value]="7">Жінка середнього віку</mat-option>
          <mat-option [value]="8">Чоловік похилого віку</mat-option>
          <mat-option [value]="9">Жінка похилого віку</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Текст</mat-label>
        <textarea matInput formControlName="text" class="edit-text"></textarea>
        <mat-error *ngIf="promptForm.get('text')?.hasError('required')">Введіть текст</mat-error>
      </mat-form-field>
  
      <div class="actions">
          <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="promptForm.invalid">Save</button>
      </div>
    </form>
  </div>