<div class="edit-prompt-container">
  <h2>{{ isEditMode ? 'Змінити промпт' : 'Створити промпт' }}</h2>
  <form [formGroup]="promptForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Тема</mat-label>
      <mat-select formControlName="themeId" required>
        <mat-option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="promptForm.get('themeId')?.hasError('required')">Тема є обов'язковою</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Категорія</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Текст</mat-label>
      <textarea matInput formControlName="text" class="edit-text"></textarea>
      <mat-error *ngIf="promptForm.get('text')?.hasError('required')">Введіть текст</mat-error>
    </mat-form-field>


    <!-- Попередження -->
    <div *ngIf="isTextChanged" class="warning">
      <p><strong>Увага:</strong> Зміна тексту видалить усі пов'язані Seed.</p>
    </div>

    <!-- Підформа: Призначення Seed -->
  <div class="seed-container">
    <h3>Призначити Seed</h3>
    <mat-form-field class="full-width">
      <mat-label>Seed</mat-label>
      <input matInput formControlName="newSeed" placeholder="Введіть Seed" type="number" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="assignSeed()">Призначити</button>

    <h4>Призначені Seeds:</h4>
    <div class="seed-list">
      <div *ngFor="let seed of assignedSeeds" class="seed-item">
        <span>{{ seed }}</span>
        <button mat-icon-button color="warn" type="button"  (click)="disassignSeed(seed)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Інші частини форми -->

    <div class="actions">
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Скасувати</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="promptForm.invalid">Зберегти</button>
    </div>
  </form>
</div>