<!-- <section class="additional">
    <div class="form-group">
      <label for="firstDayOfWeek">Перший день тижня</label>
      <div class="custom-select">
        <select formControlName="firstDayOfWeek" class="form-control">
          <option *ngFor="let day of daysOfWeek; let i = index" [ngValue]="i">{{ day }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="language">Мова</label>
      <div class="custom-select">
        <select formControlName="languageId" class="form-control">
          <option *ngFor="let language of languages" [ngValue]="language.id">{{ language.name }}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-save" [disabled]="!calendarForm.valid">Зберегти</button>
  </section> -->


  <h1>Additional Settings here</h1>