<section class="additional" [formGroup]="calendarForm">
    <h2>
        Додаткові налаштування
    </h2>
    <div class="form-group">
      <label for="firstDayOfWeek">Перший день тижня</label>
      <div class="custom-select">
        <select formControlName="firstDayOfWeek" class="form-control"  (change)="onFormChange()">
          <option *ngFor="let day of daysOfWeek; let i = index" [ngValue]="i">{{ day }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="language">Мова</label>
      <div class="custom-select">
        <select formControlName="languageId" class="form-control"  (change)="onFormChange()">
          <option *ngFor="let language of languages" [ngValue]="language.id">{{ language.name }}</option>
        </select>
      </div>
    </div>
  </section>  