<div class="cart-container" *ngIf="order">
    <h2>Кошик</h2>
    
    <div class="cart-items">
      <div *ngFor="let item of order.items" class="cart-item">
        <span class="title">#{{ item.calendar?.id }}</span>
        <img [src]="item.calendar?.previewPath" class="thumbnail" (mousedown)="openPreview(item.calendar?.previewPath)" (mouseup)="closePreview()">
        <input class="input" type="number" [(ngModel)]="item.quantity" min="1" (change)="onUpdateItem(item)">
        <span>{{ item.price }} грн</span>
        <button (click)="removeItem(item.id)" class="delete-button">видалити</button>
      </div>
    </div>
  
    <div class="total">
      <h3>Сума</h3>
      <span class="sum">{{ calculateTotal() }} грн</span>
    </div>

    <button class="secondary-button" [routerLink]="['/calendar']">
        Додати ще календар
      </button>
  
    <!-- Підключаємо компонент доставки -->
    <app-delivery></app-delivery>
    <button class="checkout-button" (click)="proceedToPayment()">
      Перейти до оплати
    </button>


    <!-- Модальне вікно для перегляду повного зображення -->
    <div class="modal" *ngIf="previewImage">
      <div class="modal-overlay" (click)="closePreview()"></div>
      <img [src]="previewImage" class="modal-image">
    </div>
  </div>